body{
    background-color:rgb(25, 25, 25) ;
    color : white;
    font-family: Arial;
}
.move-icon{
    height : 50px;
    
}
.move-button{
    background-color: transparent;
    border: 3px solid white;
    cursor: pointer;
    padding:30px;
    border-radius: 60px;
    margin:8px;
}
.reset-button,
.auto-play-button{
    padding : 8px 15px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    margin-top: 30px;
    
}
.result-show{
    font-size: 28px;
    font-weight: bold;
    font-family: Arial;
}